$brand-red: red;
$brand-black10: lighten(grey, 20);
$brand-black70: grey;
$brand-black90: darken(grey, 20);

.self-assessment {
    overflow-x: hidden;
    
    &-intro {
        color: #676767;
    }

    form {
        position: relative;
        transition: height .6s ease-in-out;
    }

    // Question
    // Contains a card with title and options and tidbit
    [id^="EditableTextField"] {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-bottom: 0;
    }
    
    &-container {
        position: relative;
        display: flex;
        flex-direction: column;

        // We are adjusting the height with js
        // to accommodate for any large tidbit images
        // and lengthy options
        min-height: 720px;
        padding: 16px 0 34px;
        background-color: #d7eaf3;
        transition: padding 1s;
        z-index: 1;

        @include respond(lg) {
            min-height: auto;
            padding: 22px 0 55px;
        }

        // Initially content inside the container
        // is centered vertically, once you move on
        // to the form padding on top and bottom is
        // different
        &--initial {
            @include respond(lg) {
                padding: 55px 0;
            }
        }
    }

    // Start screen
    &-start {
        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &-wrapper,
        &-image {
            width: 100%;

            @include respond(lg) {
                width: 50%;
            }
        }
        
        &-time {
            &:before {
                position: relative;
                top: -2px;
                margin-right: 10px;
                content: "";
                display: inline-block;
                vertical-align: middle;
                width: 14px;
                height: 16px;
                background-image: url('../images/svg/timer.svg');
                background-size: cover;
            }
        }
        
        &-title {
            //font-family: GustanMedium;
            font-size: 30px;
            line-height: (36/30);
            letter-spacing: -0.3px;
            color: #525252;

            @include respond(lg) {
                font-size: 44px;
                line-height: (48/44);
                letter-spacing: -0.44px;
            }
        }

        &-content {
            flex: 1 0 auto;
        }
        
        &-button {
            @include respond(lg) {
                max-width: 258px;
                
            }
        }

        &-image {
            height: 100%;

            &--left {
                display: flex;
                justify-content: center;
                flex-direction: column;
                max-width: 150px;
                margin: 0 auto 25px;

                 @include respond(lg) {
                     display: none;
                 }

                 img {
                     object-fit: contain;
                     margin: 0 auto;
                 }

            }

            &--right {
                display: none;

                img {
                     max-width: 220px;
                }          

                @include respond(lg) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                }
            }


        }
    }

    &-button {
        //font-family: GustanBold;
        font-size: 16px;
        background: #00A8A2;
        &, &:active {
            box-shadow: 0 2px 0 0 #077155;
        }       

        &--block {
            width: 100%;
        }

        &:focus,
        &:hover {
            background: darken(#00A8A2, 10%);
        }

        &.disabled,
        &[aria-disabled="true"] {
            background: #a8adaf;
            box-shadow: 0 2px 0 0 #a8adaf;
            pointer-events: none;
        }
    }
    
    // Initially hidden elements
    &-form,
    &-question {
        display: none;
    }

    &-form {
        flex-direction: column;

        &--active {
            display: flex;

            .self-assessment-progress {
                opacity: 1;
            }
        }

        margin-left: 15px;
        margin-right: 15px;
        max-width: 100%;
        
        @include respond(sm) {
            margin-left: 20px;
            margin-right: 20px;
        }

        @include respond(lg) {
            width: 1275px;
            margin-left: 30px;
            margin-right: 30px;
        }

        @include respond(xxl) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    &-card {
        position: relative;
        display: flex;
        height: 100%;
        min-height: 460px;
        margin: 0 auto;
        padding: 32px 16px 24px;
        border-radius: 4px;
        background-color: #fff;
        transition: transform .8s ease-in-out,
                    opacity .2s .1s ease-out;
        box-shadow: 0 6px 5px 0 rgba(0, 148, 157, 0.10),
        0 4px 5px 0 rgba(0, 0, 0, 0.15);
        z-index: 20;

        & + & {
            margin-top: 30px;
        }

        @include respond(md) {
            padding: 32px 40px 32px;
        }

        &--theme {
            position: static;
            min-height: auto;
            height: auto;
            flex-direction: column;
            padding: 26px 16px 24px;

            @include respond(md) {
                padding: 30px 40px 40px;
            }
        }

        &--inactive {
            transform: translateX(100vw);
            opacity: 0;
        }

        &--leaving {
            transform: translateX(-100vw);
            opacity: 0;
        }

        &--entering {
            transform: translateX(0);
            opacity: 1;
        }
    }

    // Question
    &-question {
        &-title {
            font-size: 20px;
            line-height: (26/20);
            letter-spacing: -0.2px;
            color: $brand-black90;
            margin-top: 0;
            margin-bottom: 32px;
            padding-right: 10px;
            
            @include respond(md) {
                font-size: 28px;
                line-height: (36/28);
                letter-spacing: -0.28px;
            }
        }

        // Contains <fieldset> with radio buttons 
        // and submit button
        &-options {
            @include respond(xl) {
                width: 320px;
                float: right;
            }
        }
    }

    fieldset.optionset {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        [type="radio"] {
            position: absolute;
            opacity: 0;

            & + label {
                transition: all 0.2s ease-out;
            }
            
            &:focus + label,
            &:hover + label,
            &:checked + label {
                position: relative;
                
                // https://codepen.io/Hawkun/details/rsIEp#forks
                box-shadow: 1px 0 0 0 #00A8A2,
                            0 1px 0 0 #00A8A2,
                            1px 1px 0 0 #00A8A2,
                            1px 0 0 0 #00A8A2 inset,
                            0 1px 0 0 #00A8A2 inset;
            }

            &:checked + label {
                background-color: rgba(0,168,162,0.2);
                color: #077155;
            }
        }

        label {
            padding: 22px 16px;
            //font-family: GustanBook;
            font-size: 16px;
            line-height: (20/16);
            color: $brand-black70;
            
            // https://codepen.io/Hawkun/details/rsIEp#forks
            box-shadow: 1px 0 0 0 $brand-black10,
                        0 1px 0 0 $brand-black10,
                        1px 1px 0 0 $brand-black10,
                        1px 0 0 0 $brand-black10 inset,
                        0 1px 0 0 $brand-black10 inset;
            cursor: pointer;
            transition: all .25s;

             @include respond(md) {
                padding: 22px 24px;
             }
        }
    }

    &-tidbit {
        position: absolute;
        visibility: hidden;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        margin-left: auto;
        margin-right: auto;
        
        // Tidbits are stacking on top of each other,
        // give them the same background as the main container
        // so that we only see one at a time
        background-color: #d7eaf3;
        transition: opacity .25s ease-in-out;
        z-index: 10;

        &--active {
            visibility: visible;
            opacity: 1;
        }

        &-wrapper {
            max-width: 360px;
            min-height: 460px;
            margin: 0 auto;
            text-align: center;
        }

        &-title {
            //font-family: FiraSansBold;
            font-size: 14px;
            line-height: (22/14);
            color: #005279;
            letter-spacing: 0.58px;
            margin-top: 0;
        }

        &-image {
            margin: 29px auto 11px;
            
            img {
                margin: 0 auto;
                max-width: 140px;
            }
        }

        &-content {
            color: #005279;
            margin-bottom: 24px;

            p {
                text-align: left;
            }
        }

        &-button {
            background: #0078B0;
            //font-family: GustanBold;
            font-size: 16px;
            padding-left: 47px;
            padding-right: 47px;
            transition: background-color .25s;

            &, &:active {
                box-shadow: 0 2px 0 0 #005279;
            }           
            
            &:hover,
            &:focus {
                background: darken(#0078B0, 10%);
            }
        }
    }

    &-progress {
        opacity: 0;
        transition: opacity .25s;
        overflow: hidden;
        
        progress[value] {
            width: 100%;
            height: 9px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: none;
            border-radius: 6px;
            background-color: #fff;
            color: #fff;

            @include respond(md) {
                margin-bottom: 24px;
            }

            &::-ms-fill {
                border-radius: 6px;
                background: linear-gradient(to right, rgba(0, 119, 114, 1) 0%, rgba(0, 119, 175, 0.67) 100%);
                transition: all 1s ease;
            }

            &::-webkit-progress-bar {
                border-radius: 6px;
                background-color: #fff;
            }

            &::-moz-progress-bar {
                border-radius: 6px;
                background: linear-gradient(to right, rgba(0, 119, 114, 1) 0%, rgba(0, 119, 175, 0.67) 100%);
                transition: all 1s ease;
            }

            &::-webkit-progress-value {
                border-radius: 6px;
                background: linear-gradient(to right, rgba(0, 119, 114, 1) 0%, rgba(0, 119, 175, 0.67) 100%);
                transition: all 1s ease;
            }
        }
    }

    // Using flex for layout here to match design
    &-actions {
        display: flex;
        flex-direction: column;
        
        @include respond(lg) {
            flex-direction: row;
            padding-top: 60px;
        }

        &-title {
            margin-top: 0;
            margin-bottom: 16px;
        }

        &-column {
            display: flex;
            flex-direction: column;

            @include respond(lg) {
                width: 50%;
            }

            &:first-child() {
                @include respond(md) {
                    padding-right: 50px;
                }

                @include respond(lg) {
                    padding-right: 0;
                }
            }
        }
    }

    &-businfofields {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
        
        > div {
            flex: 1 0 auto;
        }
        
        @include respond(lg) {
            padding-left: 57px;
        }
        
        .field {
            margin-bottom: 15px;
        }
        
        label {
            //font-family: GustanBook;
            font-size: 14px;
            padding-bottom: 3px;
        }
        
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            background: url(../images/svg/chevron-grey-dropdown.svg) center center no-repeat;
            opacity: .65;
        }
    } 
    
    // Reset globally set width
    .select2-container {
        width: 100% !important;
    }

    // Results Screen
    &-results {
        // Offset margin from CommonHeader
        margin-top: -20px;
        padding-bottom: 51px;
        background-color: #d7eaf3;

        @include respond(md) {
            padding-bottom: 107px;
        }

        &-content {
            padding: 15px 0 32px;
            
            p {
                color: #005279;
                font-size: 18px;
                line-height: (26/18);
            }
            
            @include respond(md) {
                padding: 44px 0 32px;
            }
        }

        &-image {
            height: 100%;
            display: none;

            img {
                max-width: 290px;
            }
            
            @include respond(md) {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;


            }
        }
    }

    // Result Themes
    &-theme {
        &-title {
            //font-family: GustanBold;
            font-size: 20px;
            line-height: (24/20);
            letter-spacing: 0.33px;
            color: $brand-red;
            text-transform: uppercase;
            margin-top: 0;
            margin-bottom: 30px;

            @include respond(md) {
                font-size: 26px;
                line-height: (31/26);
                letter-spacing: 0.43px;
            }
        }

        &-content {
            @include respond(md) {
                columns: 2;
                column-gap: 55px;
            }
        }

        &-advice {
            // https://codepen.io/katydecorah/pen/40cb167e16dc53bc78f1ddad8db6c82f
            -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
            break-inside: avoid;
            color: #4d4d4d;
            line-height: (24/16);
            padding-top: 24px;
            padding-bottom: 16px;

            @include respond(md) {
                padding-top: 0;
            }

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;

                @include respond(md) {
                    border-bottom-width: 0;
                }
            }
        }
    }

    &-rating {
        margin-bottom: 8px;

        &-star {
            margin-right: 4px;
            
            &--fill {
                path {
                    fill: #00A7E1;
                }
            }

            &--no-fill {
                path {
                    fill: #C5C8C6;
                }
            }
        }
    }

    &-link {
        @include respond(md) {
            margin-top: 32px;
        }
    }
}

#self-assessment-email-signup-form,
#self-assessment-email-signup-form-reminder {
    .self-assessment-results-modal-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modal-header {
        margin-bottom: 16px;
    }

    .modal-body {
        margin: 0;
    }

    .modal-title {
        //font-family: GustanBook;
        font-size: 20px;
        line-height: (26/20);
        color: #4D4D4D;
        margin-top: 0;
        margin-bottom: 0;
        
        @include respond(md) {
            font-size: 28px;
            line-height: (36/28);
            letter-spacing: -.28px;
        }
    }

    .modal-content {
        border: none;
        border-radius: 4px;
        padding: 32px 16px 16px;
        text-align: left;
        
        @include respond(lg) {
            padding: 32px 105px 16px;
        }
    }

    .modal-footer {
        margin-top: 12px;
        text-align: center;
        
        @include respond(lg) {
            margin-top: 16px;
        }
        
        a {
            color: inherit;
            text-decoration: none;
        }
    } // Override 
    form {
        margin-top: 32px;
        
        label {
            //font-family: FiraSansRegular;
            font-size: 16px;
            line-height: (22/16);
        }
        
        div.field.checkbox {
            margin-bottom: 18px;
        }
        
        input[type="email"] {
            font-size: 16px;
            
            &::-moz-placeholder {
                font-size: 16px;
            }
            
            &:-ms-input-placeholder {
                font-size: 16px;
            }
            
            &::-webkit-input-placeholder {
                font-size: 16px;
            }
        }
        
        .Actions {
            text-align: center;
            
            button[type="submit"] {
                width: 100%;

                @include respond(lg) {
                    width: auto;
                }
            }
        }
    }

    @include respond (print) {
        display: none;
    }
}

@include respond (print) {
    .self-assessment .rating-form {
        display: none;
    }
}

.ie10 {
    .self-assessment-card,
    .self-assessment-card>* {
        max-width: 100%;
    }
}
